parameters:
    level: 5
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\)#'
